<footer class="w-100">
  <div
      class="d-flex flex-wrap align-items-center py-1 border-top text-bg-dark">
      <div align="right" class="container">
          <div class="text-white-50 small align-items-center">
              <a style="font-size: 15px;"> COPYRIGHT&copy;EasyInOut | 2023 </a>              
              <a style="font-size: 10px;">Contato: (12) 3144-0000 </a>
              <a style="font-size: 10px;">E-mail: easyinout@gmail.com </a>
          </div>
          
      </div>
  </div>
</footer>