{% extends 'base.html' %}
{% block conteudo %}

<br>
<div class="row">
  <label class="form-label" for="form3Example4">DATA</label>
  <fieldset class="form-group col-md-2">
    <form action="{{url_for('router.traffic.list')}}" method="GET">
      <input id="dataAtual" type="date" class="form-control" name="filtroData" value="{{_data}}">
  </fieldset>
  <fieldset class="form-group col-md-4">
    <button type="submit" class="btn btn-secondary">Filtrar</button>
  </fieldset>
  </form>
</div>
<br>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">NOME</th>
      <th scope="col">DATA</th>
      <th scope="col">HORA</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in listData['registros'].items %}
    <tr>
      <td>{{registro.nome}}</td>
      <td>{{registro.dt}}</td>
      <td>{{registro.hr}}</td>
      <td>{{registro.statusReg}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div style="display: flex;">
  {% if listData['registros'].has_prev %}
  <a href="{{listData['registros'].prev_num}}?filtroData={{_data}}"> «Anteriores |</a>
  {% else %}
  <p> «Anteriores |</p>
  {% endif %}

  {% if listData['registros'].has_next %}
  {% if listData['page'] == 1 %}
  <a href="list/{{listData['registros'].next_num}}?filtroData={{_data}}">| Próximos»</a>
  {% else %}
  <a href="{{listData['registros'].next_num}}?filtroData={{_data}}">| Próximos»</a>
  {% endif %}
  {% else %}
  <p>| Próximos»</p>
  {% endif %}
</div>

{% endblock conteudo %}