{% extends 'base.html' %}
{% block conteudo %}
<br>
<a href="{{url_for('router.user.createUser')}}" class="btn btn-secondary btn-xs">Cadastrar novo usuário</a>
<hr>
<div class="row">
    <label class="form-label" for="form3Example4">Nome do usuário</label>
    <fieldset class="form-group col-md-6">
        <form action="{{url_for('router.user.listUser')}}" method="GET">
            <input type="text" class="form-control" name="nomeUsuario" value="{{_nomeUser}}">
    </fieldset>
    <fieldset class="form-group col-md-4">
        <button type="submit" class="btn btn-secondary">Filtrar</button>
    </fieldset>
    </form>
</div>
<br>
<!--<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">RFID</th>
            <th scope="col">NOME</th>
            <th scope="col">MATRICULA</th>
            <th scope="col">ENDEREÇO</th>
            <th scope="col">CONTATO</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in listData['regUser'].items %}
        <tr>
            <td>{{registro.rfid}}</td>
            <td>{{registro.nome}}</td>
            <td>{{registro.mat}}</td>
            <td>{{registro.endereco}}</td>
            <td>{{registro.contato}}</td>
            <td>
                <a href="{{registro.id}}/updateUser" class="btn btn-secondary btn-xs">Editar</a>
                <a href="{{registro.id}}/removeUser"
                    onclick="return confirm('Deseja realmente excluir esse registro ?')"
                    class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>-->

<section class="intro">
    <div class="mask d-flex align-items-center h-100">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-xl">
                    <div class="bg-white "> <!--table-responsive-->
                        <table class="table table-sm mb-0 text-xsmall">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">RFID</th>
                                    <th scope="col">NOME</th>
                                    <th scope="col">MATRICULA</th>
                                    <th scope="col">ENDEREÇO</th>
                                    <th scope="col">CONTATO</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registro in listData['regUser'].items %}
                                <tr>
                                    <td>{{registro.rfid}}</td>
                                    <td>{{registro.nome}}</td>
                                    <td>{{registro.mat}}</td>
                                    <td>{{registro.endereco}}</td>
                                    <td>{{registro.contato}}</td>
                                    <td>
                                        <a href="{{registro.id}}/updateUser" class="btn btn-secondary btn-xs">Editar</a>
                                        <a href="{{registro.id}}/removeUser"
                                            onclick="return confirm('Deseja realmente excluir esse registro ?')"
                                            class="btn btn-danger btn-xs">Excluir</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div style="display: flex;">
    {% if listData['regUser'].has_prev %}
    <a href="{{listData['regUser'].prev_num }}?nomeUsuario={{_nomeUser}}"> «Anteriores |</a>
    {% else %}
    <p> «Anteriores |</p>
    {% endif %}

    {% if listData['regUser'].has_next %}
      {% if listData['page'] == 1 %}
        <a href="{{list/listData['regUser'].next_num}}?nomeUsuario={{_nomeUser}}">| Próximos»</a>
      {% else %}
        <a href="{{listData['regUser'].next_num}}?nomeUsuario={{_nomeUser}}">| Próximos»</a>
       {% endif %}
    {% else %}
      <p>| Próximos»</p>
    {% endif %}
</div>
{% endblock conteudo %}