{% extends 'base.html' %}
{% block conteudo %}

  <br>
  <a href="{{url_for('router.func.createFunc')}}" class="btn btn-secondary btn-xs">Cadastrar novo funcionário</a>
  <hr>
  <div class="row">
      <label class="form-label" for="form3Example4">Nome do funcionário</label>
      <fieldset class="form-group col-md-6">
          <form action="{{url_for('router.func.listFunc')}}" method="POST">
              <input type="text" class="form-control" name="nomeFuncionario">
      </fieldset>
      <fieldset class="form-group col-md-4">
          <button type="submit" name="filtrarUsuario" value="1" class="btn btn-secondary">Filtrar</button>
      </fieldset>
      </form>
  </div>
  <br>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">NOME</th>
            <th scope="col">MATRICULA</th>
            <th scope="col">ENDEREÇO</th>
            <th scope="col">CONTATO</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">AÇÕES</th>          
        </tr>
    </thead>
    <tbody>
      {% for registro in listData['regFunc'].items %}
        <tr>
            <td>{{registro.nome}}</td>
            <td>{{registro.mat}}</td>
            <td>{{registro.endereco}}</td>
            <td>{{registro.contato}}</td>
            <td>{{registro.email}}</td>            
            <td>
                <a href="{{registro.id}}/updateFunc" class="btn btn-secondary btn-xs">Editar</a>
                <a href="{{registro.id}}/removeFunc" onclick="return confirm('Deseja realmente excluir esse registro ?')"
                    class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
      {% endfor %}
        </tbody>
  </table>

  <div style="display: flex;">
    {% if listData['regFunc'].has_prev %}
      <a href="{{ listData['regFunc'].prev_num }}">«Anteriores |</a>
    {% else %}
      <p>«Anteriores |</p>
    {% endif %}
    
    {% if listData['regFunc'].has_next %}
      
      {% if listData['page'] == 1 %}
        <a href="list/{{ listData['regFunc'].next_num}}">| Próximos»</a>
      {% else %}
        <a href="{{ listData['regFunc'].next_num}}">| Próximos»</a>
      {% endif %}
        
    {% else %}
        <p>| Próximos»</p>
    {% endif %}
  </div>

{% endblock conteudo %}